<!doctype html>
<html>
    <head>
        <title>ERROR</title>
        <link rel="icon" href="{{ url_for('static', filename='red-chili-pepper-v2.ico') }}" type="image/x-icon">
        <style>
            body {
                font-family: Arial, sans-serif; /* Define the font for the body */
            }
            h1 {
              font-size: 40px;
            }
            h2 {
              font-size: 30px;
            }
            p {
              font-size: 20px;
            }            
        </style>
    </head>

    <body>
        <h2>ERROR</h2>
        <p>Did not load data!</p>
        <p>Make sure that you are running an ssh tunnel with port forwarding using the correct ports to access this site.</p>
    </body>

</html>
