<html>
    <body>
        <form action = "http://localhost:5000/result" method = "POST">
            <p>Name <input type="text" name="Name"/></p>
            <p>Physics Score <input type="number" name="Physics" min="0" max="100"/></p>
            <p>Chemistry Score <input type="number" name="Chemistry" min="0" max="100"/></p>
            <p>Mathematics Score <input type="number" name="Mathematics" min="0" max="100"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>
